@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* ### Primary */
  --blue: #4f7df3;

  /* ### Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* ### Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  color: var(--very-dark-blue);
}

body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 640px;
  margin-top: 85px;
  margin-bottom: 40px;
}

.logo {
  display: block;
  margin: 0 auto 50px;
}

.text-content {
  text-align: center;
  margin-bottom: 85px;
}

.gray {
  color: var(--gray);
  font-weight: 300;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.text-content p {
  margin-bottom: 40px;
}

form {
  font-family: inherit;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

form input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  flex-grow: 1;
  padding: 17px 30px;
  border-radius: 40px;
  border: 1px solid var(--pale-blue);
}

::placeholder {
  color: var(--pale-blue);
}

form button {
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--blue);
  font-weight: 600;
  flex-basis: 200px;
  border: unset;
  border-radius: 50px;
  font-size: 0.8rem;
  box-shadow: 0 8px 4px 2px hsla(223, 87%, 63%, 0.1);
  cursor: pointer;
}

.error {
  border: 1px solid var(--light-red);
}

form .error-text {
  position: absolute;
  bottom: -30px;
  left: 30px;
  color: var(--light-red);
  font-style: italic;
  font-size: 0.75rem;
}

.banner {
  max-width: 100%;
  margin-bottom: 60px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.icon-social {
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  width: 30px;
  overflow: visible; /* Prevent clipping */
}

.copyright {
  color: var(--gray);
  text-align: center;
  font-size: 0.6rem;
  opacity: 0.8;
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 65%;
  }
  #root {
    margin: 50px 40px 40px 40px;
  }

  .logo {
    max-width: 20%;
  }

  form {
    flex-direction: column;
    font-size: 1.1rem;
  }

  form button {
    flex-basis: 100%;
    padding: 15px 0;
    font-size: 1.1rem;
  }

  .error {
    margin-bottom: 25px;
  }

  form .error-text {
    font-size: 0.9rem;
    width: 100%;
    bottom: 70px;
    left: 0;
  }

  .copyright {
    font-size: 0.9rem;
  }
}
